@model Project.Models.Book

@{
	ViewData["Title"] = "Book Info";
}

<section class="product-sec">
		<div class="container">
			<h1>
				@Html.DisplayFor(item => item.Title)
			</h1>
			<div class="row">
				<div class="col-md-6 slider-sec">

					@{
						var src=@Html.DisplayFor(item => item.Cover);
						var authors="";
						var genres="";
					}

					 <img src="~/images/Covers/@src" class="img-fluid">
				</div>
				<div class="col-md-6 slider-content">
					<p>@Html.DisplayFor(item => item.Info)</p>
					<ul>
						<li> 
							@foreach (var item in Model.BookAuthors)
							{
								authors += @item.Author.Name.ToString() + ", ";
							}
							<span>Автори: @authors</span>
						</li>
						<li>
							<span>Жанр: @Html.DisplayFor(item => item.Genre.Name)</span>
						</li>
						<li>
							<span class="name"> Цена: </span><span class="clm"></span>
							<span class="price">@Html.DisplayFor(item => item.Price)</span>
						</li>
					</ul>
					<div class="btn-sec">
						<button class="btn" asp-action="AddToCart">Добави към кошница</button>					</div>
				</div>
			</div>
		</div>
	</section>