@model IEnumerable<Project.Models.Cart>

@{
	ViewData["Title"]="Shopping Cart";
	int totalCost=0;
}

<section class="cart_area section_padding">
	<div class="container">
		<div class="cart_inner">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">@Html.DisplayNameFor(model => model.Book)</th>
							<th scope="col">@Html.DisplayNameFor(model => model.Book.Price)</th>
							<th scope="col">@Html.DisplayNameFor(model => model.Volume)</th>
							@* <th scope="col">Total</th> *@
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
                        {
							<tr>
								<td>
									<div class="media">
										<div class="d-flex">
											@{
                                                var src = @Html.DisplayFor(modelItem => item.Book.Cover);
											}
											<img src="~/images/Covers/@src" alt="" />
										</div>
										<div class="media-body">
										<p>@Html.DisplayFor(modelItem => item.Book.Title)</p>
										</div>
									</div>
								</td>
								<td>
									<h5>@Html.DisplayFor(modelItem => item.Book.Price) BGN</h5>
								</td>
								<td>
									<div class="product_count">
										<label class="input-number">x @Html.DisplayFor(modelItem => item.Volume)</label>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<div class="checkout_btn_inner float-right">
					<a class="btn_1" asp-action="Index">Continue Shopping</a>

					<a data-fancybox data-src="#modal" href="javascript:;"  class="btn_1 checkout_btn_1" >Proceed to Order</a>
					<div style="display: none;" id="modal">
						<div class="order_box">
							<h2>Your Order</h2>
							<ul class="list">
								<li>
									<a href="#">Product
									<span>Total</span>
									</a>
								</li>
								@foreach (var item in Model)
								{
									<li>
										<a asp-action="BookInfo" asp-route-id="@item.ISBN">
											@Html.DisplayFor(modelItem => item.Book.Title)
											<span class="middle">x @Html.DisplayFor(modelItem => item.Volume)</span>
											@{
												var cost=item.Book.Price*item.Volume;
												totalCost+=(int) cost;
												}
											
											<span class="last">@cost BGN</span>
										</a>
									</li>	
									}
							
							</ul>
							<ul class="list list_2">
								<li>
									<a href="#">Total
									<span>@totalCost BGN</span>
									</a>
								</li>
							</ul>
							<p>
								Моля въведете коректен адрес и дата за доставка.
							</p>
						</div>
						<a class="btn_3" style="margin-top: 10px" asp-controller="Orders" asp-action="Create">Въвеждане на Адрес и Дата</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	
